@model AnimalsOnMap.Data.Classes.Animal

@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Animal</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LocalName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LocalName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LatinName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LatinName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AnimalSpecies)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnimalSpecies)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Longitude)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Longitude)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Latituda)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Latituda)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>