@model IEnumerable<AnimalsOnMap.Data.Classes.Animal>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h4>Animals we found</h4>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.LocalName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LatinName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnimalSpecies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latituda)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LatinName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnimalSpecies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latituda)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>